<section id="contact">
  <div class="contact-box">
    <h2 class="section-title" style="border:none; text-align:center;">İletişime Geç</h2>
    <p>Projeleriniz veya işbirliği için formu doldurup mail atabilirsiniz.</p>
    
    <!-- MAİL FORMU -->
    <div class="mail-form">
      <div class="form-group">
        <input type="text" [(ngModel)]="mailData.subject" placeholder="Konu (Örn: Proje Teklifi)" class="form-input">
      </div>
      <div class="form-group">
        <textarea [(ngModel)]="mailData.message" rows="4" placeholder="Mesajınız..." class="form-input"></textarea>
      </div>
      
      <button class="send-btn" (click)="sendMail()">
        📤 Mail Gönder
      </button>
    </div>

    <!-- Alternatif -->
    <div class="divider"><span>VEYA</span></div>

    <button class="copy-btn outline" #copyBtn (click)="copyEmail(copyBtn)">
      📋Mail Adresimi Kopyala
    </button>
    <p class="email-display">{{ email }}</p>

    <div class="socials">
      <a href="https://github.com/serhatblb" target="_blank" class="social-link">GitHub 💻</a>
      <a href="https://linkedin.com/serhatbulbul" target="_blank" class="social-link">LinkedIn 🔗</a>
    </div>
  </div>
</section>